<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.files.publicPath %>apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>favicon-16x16.png">
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>site.webmanifest">
  <title>JS Object to CSS</title>
  <meta name="description" content="Convert a JS style object to its CSS equivalent.">
</head>

<body>
  <header>
    <h1>JS Object to CSS</h1>
    <a id="github-link" href="https://github.com/hideyuk1/js-object-to-css" target="_blank">
      <img src="<%= htmlWebpackPlugin.files.publicPath %>GitHub-Mark-32px.png"/>
    </a>
  </header>
  <main class="main">
    <div class="editors-container">
      <div class="editor-wrapper" id="input-editor-wrapper">
        <h2 class="editor-title">JavaScript</h2>
        <textarea class="input editor"></textarea>
      </div>
      <div class="editor-wrapper" id="output-editor-wrapper">
        <h2 class="editor-title">CSS</h2>
        <textarea class="output editor"></textarea>
      </div>
    </div>
  </main>
  <footer>
    <p>
      Built with <a href="https://codemirror.net/">Codemirror</a> and <a href="https://github.com/acornjs/acorn">Acorn</a>.
    </p>
  </footer>
</body>

</html>